.root {
	-fx-background-image: url("../../media/spaceBackground.PNG") 
}

.button {
	-fx-background-color: black;
}

.label {
	-fx-text-fill: pink;
	-fx-background-color: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 90%); 
}