.root {
	-fx-background-image: url("../../media/arcadeMachine.JPG")
}

.label {
	-fx-text-fill: pink;
	-fx-background-color: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 90%); 
}